<ion-view title="Contact Us" id="page10">
    <ion-content padding="true" class="has-header">
        <ion-list id="contactUs-list14">
            <ion-item class="item-icon-left dark  words" id="contactUs-list-item69" href="mailto:collegeturnout@gmail.com">
                <i class="icon ion-android-mail"></i>Email</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 8px;"></div>
        <ion-list id="contactUs-list15">
            <ion-item class="item-icon-left dark  words" id="contactUs-list-item68" href="#" onclick="window.open('https://www.facebook.com/collegeturnout/?fref=ts', '_system', 'location=yes'); return false;">
                <i class="icon ion-social-facebook"></i>Facebook</ion-item>
            <ion-item class="item-icon-left dark  words" id="contactUs-list-item73" href="#" onclick="window.open('https://twitter.com/collegeturnout', '_system', 'location=yes'); return false;">
                <i class="icon ion-social-twitter"></i>Twitter</ion-item>
            <ion-item class="item-icon-left dark  words" id="contactUs-list-item74" href="#" onclick="window.open('https://www.instagram.com/collegeturnout/', '_system', 'location=yes'); return false;">
                <i class="icon ion-social-instagram"></i>Instagram</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 41px;"></div>
        <div>
            <img src="img/MH9Dr4XTJ6QJVSQ4WuVA_logo.png" width="" height="150" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>