<ion-view title="Discover" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="discover-markdown8" style="color:#000000;" class=" words">Select a category to see all events in that feed</p>
        <div id="discover-button-bar13" class=" button-bar ">
            <a ng-click="food()" id="discover-button87" class=" button button-positive  button-block ">Food</a>
            <a ng-click="sports()"  id="discover-button88" class=" button button-positive  button-block ">Sports</a>
            <a ng-click="career()"  id="discover-button89" class=" button button-positive  button-block ">Career</a>
        </div>
        <div id="discover-button-bar18" class=" button-bar ">
            <a ng-click="cultural()"  id="discover-button93" class=" button button-positive  button-block ">Cultural</a>
            <a ng-click="service()"  id="discover-button94" class=" button button-positive  button-block ">Service</a>
            <a ng-click="school()"  id="discover-button95" class=" button button-positive  button-block ">School</a>
        </div>
        <div id="discover-button-bar17" class=" button-bar ">
            <a ng-click="greek()"  id="discover-button90" class=" button button-positive  button-block ">Greek</a>
            <a ng-click="arts()"  id="discover-button91" class=" button button-positive  button-block ">Arts</a>
            <a ng-click="nightlife()"  id="discover-button92" class=" button button-positive  button-block ">Nightlife</a>
        </div>
        <div id="discover-button-bar10" class=" button-bar ">
            <a ng-click="other()" id="discover-button100" class=" button button-positive  button-block ">Other</a>
        </div>
        <div class="">
            <a style="display:block;" >
                <img ng-click="random()" src="img/DNyI3rytSPOOfIshg8gt_Random event card-8.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
    </ion-content>
</ion-view>