<ion-view title="Editors Picks" id="page2" style="background-color:#92E9D2;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="editorsPicks-card212">
            <div class="item item-body " id="editorsPicks-list-item-container5">
                <div style="margin-right:-20px;">
                    <button id="editorsPicks-button97" style="left:-10px;" class=" button button-positive  button-full ">TBD</button>
                </div>
                <p id="editorsPicks-markdown5" style="margin-top:0px;color:#000000;" class=" ">Check back for our next wildcat welome update!</p>
            </div>
        </div>
        <div class="list card " id="editorsPicks-card212">
            <div class="item item-body " id="editorsPicks-list-item-container5">
                <div style="margin-right:-20px;">
                    <button id="editorsPicks-button97" style="left:-10px;" class=" button button-positive  button-full ">TBD</button>
                </div>
                <p id="editorsPicks-markdown5" style="margin-top:0px;color:#000000;" class=" ">Check back for our next wildcat welome update!</p>
            </div>
        </div>
        <div class="list card " id="editorsPicks-card212">
            <div class="item item-body " id="editorsPicks-list-item-container5">
                <div style="margin-right:-20px;">
                    <button id="editorsPicks-button97" style="left:-10px;" class=" button button-positive  button-full ">TBD</button>
                </div>
                <p id="editorsPicks-markdown5" style="margin-top:0px;color:#000000;" class=" ">Check back for our next wildcat welome update!</p>
            </div>
        </div>
    </ion-content>
</ion-view>