<ion-view title="Event" id="page18" class=" ">
    <ion-content padding="true" class="has-header">
        <!-- <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div> -->
        <h1 id="event-heading21" style="color:#000000;text-align:center;" class=" headercolor dog edges">{{event.title}}</h1>
        <button id="event-button70" class=" button button-calm  button-block icon ion-heart words poop edges" ng-click="save()" >- Save</button>
        <div id="event-button-bar12" class=" button-bar "></div>
        <a ui-sref="page1.blankMap" id="event-button71" class=" button button-calm  button-block icon ion-map words poop edges full" ng-click="map()">- Map</a>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <ion-list id="event-list17" class=" ">
            <ion-item id="event-list-item135" class="  words">{{event.location}}</ion-item>
            <ion-item id="event-list-item136" class="  short poop words float">{{event.date | date }}</ion-item>
            <ion-item id="event-list-item134" class="  short poop words float">{{event.time | date: "shortTime"}}</ion-item>
            <ion-item id="event-list-item138" class="  short poop words float">{{event.duration}}</ion-item>
            <ion-item id="event-list-item133" class="  short poop words float">{{event.price}}</ion-item>
            <ion-item id="event-list-item137" class="  short poop words float">{{event.host}}</ion-item>
            <ion-item id="event-list-item141" class="  short poop words float">{{event.likes}}</ion-item>
            <ion-item id="event-list-item140" class="  short poop words float">NU Only: {{event.nuOnly}}</ion-item>
            <ion-item id="event-list-item139" class="  short poop words float">21+: {{event.twentyOnePlus}}</ion-item>
        </ion-list>
        <p id="event-markdown6" style="color:#000000;" class=" white words">{{event.longDescription}}</p>
    </ion-content>
</ion-view>