<ion-view title="Featured" id="page2" style="background-color:#92E9D2;">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="featured-list-item-container10">
            <div style="margin-right:-20px;">
                <button id="featured-button107" style="left:-10px;border-radius:-11px -11px -11px -11px;" class=" button button-positive  button-full ">FOOD</button>
            </div>
            <div id="featured-markdown24" style="margin-top:0px;color:#000000;">
                <p>This is slightly better than your 25 cent ramen</p>
            </div>
        </div>
        <div class="list card " id="featured-card212">
            <div class="item item-body " id="featured-list-item-container5">
                <div style="margin-right:-20px;">
                    <button id="featured-button97" style="left:-10px;" class=" button button-positive  button-full ">NIGHTLIFE</button>
                </div>
                <div id="featured-markdown5" style="margin-top:0px;color:#000000;">
                    <p>Check out this week's nightlife! Looks like its gonna be a promising weekend</p>
                </div>
            </div>
        </div>
        <div class="list card " id="featured-card224">
            <div class="item item-body " id="featured-list-item-container22">
                <div style="margin-right:-20px;">
                    <button id="featured-button98" style="left:-10px;border-radius:-11px -11px -11px -11px;" class=" button button-positive  button-full ">FOOD</button>
                </div>
                <div id="featured-markdown10" style="margin-top:0px;color:#000000;">
                    <p>This is slightly better than your 25 cent ramen</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>