<ion-view title="Initial Interests" id="page17">
    <ion-content padding="true" class="has-header">
        <h4 id="initialInterests-heading20" style="color:#000000;text-align:center;">What are you into?</h4>
        <form id="initialInterests-form12" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="initialInterests-toggle25" class=" short poop words">Food</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="initialInterests-toggle26" class=" short poop words float">Sports</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="initialInterests-toggle27" class=" short poop words headercolor">Career</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="initialInterests-toggle28" class=" short poop words headercolor float">Cultural</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="initialInterests-toggle29" class=" short poop words">Service</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="initialInterests-toggle30" class=" short poop words  float">School</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="initialInterests-toggle31" class=" short poop words headercolor">Greek</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="initialInterests-toggle32" class=" short poop words headercolor float">Arts</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="initialInterests-toggle33" class=" short poop words">Nightlife</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="initialInterests-toggle34" class=" short poop words float">Other</ion-toggle>
        </form>
        <a ui-sref="login" id="initialInterests-button66" class=" button button-positive  button-block round">Go to Login</a>
    </ion-content>
</ion-view>