<ion-view title="input " id="page20">
    <ion-content padding="true" class="has-header">
        <form id="input-form13" class="list ">
            <label class="item item-input " id="input-input16">
                <span class="input-label">Title of Featured</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input17">
                <span class="input-label">Description</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <h1 id="input-heading7" style="color:#000000;">Events</h1>
        <form id="input-form16" class="list ">
            <label class="item item-input " id="input-input26">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input29">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input30">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input31">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input32">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input33">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input34">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input35">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input36">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input37">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input38">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input39">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input28">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input27">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="input-input20">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="input-form19" class="list ">
            <button id="input-button112" class=" button button-calm  button-block ">CREATE CATEGORY</button>
        </form>
    </ion-content>
</ion-view>