<ion-view title="Interests" id="page16" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="interests-heading11" style="color:#000000;text-align:center;" class=" ">What are you into?</h4>
        <form id="interests-form11" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="interests-toggle14" class=" short poop words" ng-model='accountinfo.categories.food'>Food</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="interests-toggle15" class=" short poop words  float" ng-model='accountinfo.categories.sports'>Sports</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="interests-toggle16" class=" short poop words headercolor" ng-model='accountinfo.categories.career'>Career</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="interests-toggle17" class=" short poop words headercolor float" ng-model='accountinfo.categories.cultural'>Cultural</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="interests-toggle18" class=" short poop words" ng-model='accountinfo.categories.service'>Service</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="interests-toggle19" class=" short poop words  float" ng-model='accountinfo.categories.school'>School</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="interests-toggle20" class=" short poop words headercolor" ng-model='accountinfo.categories.greek'>Greek</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="interests-toggle21" class=" short poop words headercolor float" ng-model='accountinfo.categories.arts'>Arts</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="interests-toggle23" class=" short poop words" ng-model='accountinfo.categories.nightlife'>Nightlife</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="interests-toggle24" class=" short poop words float" ng-model='accountinfo.categories.other'>Other</ion-toggle>
        </form>
        <a  id="initialInterests-button66" class=" button button-positive  button-block round" ng-click="setInterests()">Apply Updates</a>
    </ion-content>
</ion-view>