<ion-view title="Legal" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="legal-heading12" style="color:#000000;text-align:center;" class=" headercolor dog round">Terms of Service</h1>
        <p id="legal-markdown4" style="color:#000000;" class=" ">Terms of Service - Turnout / Occurrent Technologies LLC

These terms are  a legal contract between you and Occurrent Technologies LLC and govern your access to and use of the app. If you disagree with any of the terms set forth in these documents, do not use the application. Your use of Turnout is an agreement to follow the terms of use. Occurrent reserves the right to change the content of the app without notice. If the terms of service are changed, you will be notified and asked to agree again. 

General Terms
Occurrent may disband any user from using Turnout for any reason. Occurrent is not liable for any damage or loss from such prohibition. 
Turnout is not for children 13 or under. By using Turnout, you are saying that you are at least 18 years old or that you had parent’s permission to use the application. 
You are responsible for using Turnout in a secure manner. Occurrence is not liable for any injury, damage, or loss due to unauthorized account access resulting from your actions. 
You are not allowed to use Turnout for illegal activity.
You may not use the service to send unsolicited emails or malicious content.
You are not allowed to exploit Turnout to access unauthorized information.
Any action doing so will result in immediate account termination.
If any provision of these terms is found unenforceable or invalid, the remaining terms still apply
This Terms of Service constitutes an agreement between Occurrent and you.
These Terms of Service shall be governed in accordance with the laws in the State of Illinois.
Occurrent reserves the right to change service at any point for any reason without notice. 
Any failure of Occurrent to enforce or exercise a right set forth in these terms is not a waiver for that right.
Occurrent grants you a limited, personal, and non-exclusive right to
 use the app on any android or IOS device that you own or control
Make copies of any material in the app for your own personal use
Usage of the Application
This application allows users to post events. 
Occurrent reserves the right to remove any content you post, without any notice. 
Occurrent has the right, but importantly, not the obligation to remove content that we see as threatening, offensive, or unlawful. 
Occurrent reserves the right to disband any user at any time, for any reason.
This is a non-exhaustive list of actions that violate our terms of service.
Threatening comments about events or people. 
Engaging in / encouraging  illegal activities on the application
Using profane language.
Implying affiliation with Occurrent Technologies LLC in order to gain user details.
Implying affiliation with any organization that you are not affiliated with.
Spamming users. 
Posting false information.
Altering or interfering with the Turnout app.
Promoting illegal activity.
Posting unauthorized advertised.
Post an individual’s personally identifiable information.
Post off-topic content.
Use of vile language.
Post of pornographic material.
Post anything that exploits minors.
For any submitted content (events), you must agree to the following
The submission is of your original work.
No compensation is due to you for posting content.
You abide by the rules set forth above regarding proper practice in posting.
Occurrent retains the right to disband you from the application immediately and without notice for any reason. Occurrent also reserves the right to limit the amount of postings you make. 
Occurrent reserves the right to report to law enforcement any inappropriate content. 
LIMITATION OF LIABILITY
Occurrent Technologies LLC  and any affiliates take no liability when it comes to events posted on the application.
We expect users to use their best judgement and caution when attending events posted in the application. 
We are simply a distributor of information, not creators of that information. 
Occurrent retains no liability for event attending in “Editor's Pick” either. Although there may be written recommendations to attend these events, it will not be the author’s role to ensure the safety of attendees of that event.
Occurrent Technologies retains no liability for crimes that occur at events posted on the application.
Examples include, but are not limited to
Underaged drinking.
Illegal substances.
Theft.
Injury that may occur at one of these events.
Occurrent is not liable for any errors that may occur on the posting of an event.
Examples include, but are not limited to:
Fraudulent events.
Incorrect location, time, or date.
Missing information.
Incorrect pricing information.
In no situation may Occurrent Technologies LLC or affiliates be liable to you for any consequential damages occurring at an event posted on the application, written about in Editor's Picks, or otherwise found on any form of Turnout social media pages.  





As we are a student-run startup with very limited funding, much of this legal document was sourced from http://www.whatsbumpin.com/terms-of-service/. If any KWAD Inc. or any other party finds issue with this document, we will rewrite it immediately. 

</p> te
    </ion-content>
</ion-view>