<ion-view title="Menu" id="page4">
    <ion-content padding="true" class="has-header">
        <div id="menu-button-bar11" class=" button-bar "></div>
        <div class="spacer" style="width: 300px; height: 17.9935px;"></div>
        <ion-list id="menu-list5" class=" list">
            <ion-item class="item-icon-left calm  words" id="menu-list-item1" ui-sref="page1.newEvent">
                <i class="icon ion-plus"></i>New Event</ion-item>
            <ion-item class="item-icon-left assertive  words" id="menu-list-item44" ui-sref="page1.myEvents">
                <i class="icon ion-ios-heart"></i>My Events</ion-item>
            <ion-item class="item-icon-left energized  words" id="menu-list-item43" ui-sref="page1.interests">
                <i class="icon ion-ionic"></i>Edit Event Preferences</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <ion-list id="menu-list10">
            <ion-item class="item-icon-left  words" id="menu-list-item2" ui-sref="page1.contactUs">
                <i class="icon ion-android-call"></i>Contact Us</ion-item>
            <ion-item class="item-icon-left  words" id="menu-list-item120" ui-sref="page1.legal">
                <i class="icon ion-briefcase"></i>Legal</ion-item>
        </ion-list>
        <ion-list id="menu-list16">
            <ion-item class="item-icon-left  words" id="menu-list-item56" ui-sref="login">
                <i class="icon ion-android-car"></i>Logout</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
    </ion-content>
</ion-view>