<ion-view title="New Event" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 27px;"></div>
        <form id="newEvent-form2" class="list ">
            <label class="item item-input words" id="newEvent-input3">
                <span class="input-label">Title:</span>
                <input type="text" placeholder="(char limit: 22)" ng-model="newEvent.title">
            </label>
            <label class="item item-input words headercolor" id="newEvent-input15">
                <span class="input-label">Description:</span>
                <input type="text" placeholder="(char limit: 68)" ng-model='newEvent.description'>
            </label>
            <h2 id="newEvent-heading2" style="color:#000000;font-weight:400;text-align:center;">Info</h2>
            <label class="item item-input " id="newEvent-input4">
                <span class="input-label">Price:</span>
                <input type="text" placeholder="( char limit:  11)" ng-model='newEvent.price'>
            </label>
            <label class="item item-input headercolor" id="newEvent-input5">
                <span class="input-label">Date:</span>
                <input type="date" placeholder="1990-02-26" ng-model='newEvent.date' >
            </label>
            <label class="item item-input " id="newEvent-input6">
                <span class="input-label">Time:</span>
                <input type="time" placeholder="2:30" ng-model='newEvent.time' >
            </label>
            <label class="item item-input headercolor" id="newEvent-input7">
                <span class="input-label">Duration:</span>
                <input type="text" placeholder="( char limit: 11)" ng-model='newEvent.duration'>
            </label>
            <label class="item item-input " id="newEvent-input13">
                <span class="input-label">Location:</span>
                <input type="text" placeholder="(char limit: 25)" ng-model='newEvent.location'>
            </label>
             <label class="item item-input words headercolor" id="newEvent-input14">
                <span class="input-label">Long Description:</span>
                <input type="text" placeholder="(No char Limit - gen location or details)" ng-model='newEvent.longDescription'>
            </label>
            <ion-toggle toggle-class="toggle-positive" id="newEvent-toggle3" class=" short poop words " ng-model="newEvent.twentyOnePlus">21+</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="newEvent-toggle2" class=" short poop words float " ng-model='newEvent.nuOnly'>NU Only</ion-toggle>
            <h2 id="newEvent-heading1" style="color:#031422;font-weight:400;text-align:center;">Categories</h2>
            <h5 id="newEvent-heading13" style="color:#000000;font-weight:300;text-align:center;">3 maximum</h5>
            <div id="newEvent-button-bar2" class=" button-bar "></div>
            <div id="newEvent-button-bar3" class=" button-bar "></div>
            <ion-toggle toggle-class="toggle-positive" id="newEvent-toggle4" class=" short poop words" ng-model='newEvent.categories.food'>Food</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="newEvent-toggle5" class=" short poop words  float" ng-model='newEvent.categories.sports'>Sports</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="newEvent-toggle7" class=" short poop words headercolor" ng-model='newEvent.categories.career'>Career</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="newEvent-toggle22" class=" short poop words headercolor float" ng-model='newEvent.categories.cultural'>Cultural</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="newEvent-toggle8" class=" short poop words" ng-model='newEvent.categories.service'>Service</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="newEvent-toggle9" class=" short poop words float" ng-model='newEvent.categories.school'>School</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="newEvent-toggle10" class=" short poop words headercolor" ng-model='newEvent.categories.greek'>Greek</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="newEvent-toggle11" class=" short poop words headercolor float" ng-model='newEvent.categories.arts'>Arts</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="newEvent-toggle12" class=" short poop words n" ng-model='newEvent.categories.nightlife'>Nightlife</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="newEvent-toggle13" class=" short poop words float" ng-model='newEvent.categories.other'>Other</ion-toggle>
            <h2 id="newEvent-heading1" style="color:#031422;font-weight:400;text-align:center;">More Info</h2>
            <h5 id="newEvent-heading13" style="color:#000000;font-weight:300;text-align:center;">( Recommended, but optional ) </h5>
            <label class="item item-input " id="newEvent-input99">
                <span class="input-label">Address:</span>
                <input type="text" placeholder="(Exact addresses only)" ng-model="newEvent.address">
            </label>
           <!--  <label class="item item-input words headercolor" id="newEvent-input14">
                <input type="text" placeholder="(No char Limit - gen location or details)" ng-model='newEvent.longDescription'>
            </label> -->
            <!-- careful of the input label -->
            <button id="newEvent-button17" class=" button button-light  button-block " ng-click='preview()'>Preview on the Map</button>
            <!-- ui-sref="page1.blankMap"  -->
            <!-- <button id="newEvent-button18" class=" button button-light  button-block " ng-click='upload()'>Add Image</button> -->
            <h1 id="newEvent-heading3" style="color:#000000;" class=" "></h1>
            <div class="list card " id="newEvent-card222"></div>
            <a id="newEvent-button14" class=" button button-calm  button-block edges" ng-click = "createNewEvent()">CREATE EVENT</a>
           <!--  there should be a ui-sref like this above - ui-sref="page1.menu"  -->
        </form>
        <div id="newEvent-button-bar14" class=" button-bar "></div>
    </ion-content>
</ion-view>