<ion-view title="Signup" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form10" class="list ">
            <div class="">
                <img src="img/spS15MDaSIueOBCEV9XL_logo.png" width="" height="120" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <p id="discover-markdown8" style="color:#000000;" class=" words">Use your u.northwestern.edu email address if you have one!</p>
            <ion-list id="signup-list9" class=" ">
                <label class="item item-input " id="signup-input11">
                    <span class="input-label" >Email </span>
                    <input type="text" placeholder="" ng-model="accountinfo.email">
                </label>
                <label class="item item-input " id="signup-input12">
                    <span class="input-label" >Password</span>
                    <input type="text" placeholder="" ng-model="accountinfo.password">
                </label>
                <label class="item item-input " id="signup-input10">
                    <span class="input-label">Date of Birth</span>
                    <input type="date" placeholder="1990-01-13" ng-model="accountinfo.date" >
                </label>
            </ion-list>
            <a id="signup-button51" class=" button button-stable  button-block " ng-click="testFunction()">Create Account</a>
            <p id="discover-markdown8" style="color:#000000;" class=" words">Again, use your u.northwestern.edu email address if possible! Pretty Pleaseeeeeee!</p>
           <!--  ui-sref="initialInterests"  -->
        </form>
    </ion-content>
</ion-view>